/* Styling in this project follows BEM notation.
   http://getbem.com/
*/

@pageBackground: #441144;
@pageForeground: #eeaa88;

.actions {
}

.actions__set {
}

.actions__set--right {
}


.appLink {
	text-decoration: none;
}

.appLink--selected {
	text-decoration: underline !important;
}


.buttonBig {
}

.buttonSubmit {
}


.diskComposition {
}


.diskForm {
}

.diskForm__close {
}


.error {
}


.form {
}

.form__error {
}


.fileTable {
	width: 100%;
}

.fileTable__fileLink {
}

.fileTable__headerCell {
}

.fileTable__headerCell--fixed {
	width: 9em;
}

.fileTable__headerCell--sortedByAsc {
}

.fileTable__headerCell--sortedByDesc {
}


.guruMeditation {
}


.imageDetails {
}

.imageDetails__name {
}


.imageLibrary {
}


.inspectedImage {
}


.labelled {
}

.labelled__label {
	color: lighten(@pageForeground, 2%);
	font-weight: bold;
	padding-right: 5px;
}

.labelled__content {
}


.link {
	color: cyan;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: gold !important;
	}

	&:visited {
		color: cyan;
	}
}

.link--table {
	color: blue;

	&:hover {
		color: dodgerblue !important;
	}
}


.listing {
}


.modal {
	position: fixed; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.modal__buttons {
}

.modal__button {
}

.modal__close {
}

.modal__display {
	background-color: white;
}

.modal__text {
}


.createMountImage {
}

.mount {
}

.mount__actions {
}

.mount__status {
}

.mount__status--badimage {
}

.mount__status--mounted {
}

.mount__status--noimage {
}

.mount__status--unmounted {
}

.mount__status--unknown {
}


.mountedImage {
}


.notifier {
}

.notification--error {
}

.notification--success {
}


.page {
	background-color: @pageBackground;
	color: @pageForeground;
	font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	max-width: 800px;
}


.pager {
}

.pager__left {
}

.pager__right {
}

.pager__numbers {
}

.pager__page--selected {
	font-weight: bold;
}


.search {
}

.search__submit {
}


.section {
}

.section__title {
}


.spaceInfo {
}

.spaceInfo__table {
}


@tableHeaderBorder: 1px solid black;

.cell--select--mixin {
	padding: 2px;
	text-align: center;
	width: 21px;
	border-right: 0px;
}

.table {
	color: @pageBackground;
	background: white;
	border: 3px solid gray;
	border-spacing: 0px;
	padding: 0px;
}

.table__header {
	background: fade(@pageBackground, 25%);
}

.table__header-cell {
	border-bottom: @tableHeaderBorder;
	border-right: @tableHeaderBorder;
	padding: 0px 10px;
}

.table__header-cell--select {
	.cell--select--mixin();
}

.table__header-cell--left {
}

.table__header-cell--right {
	border-right: none;
}

.table__record {
	&:nth-child(even) {
		background: fade(@pageBackground, 10%);
	}
}

.table__label-cell {
	font-weight: normal;
	text-align: center;
	padding: 4px 10px;
}

.table__data-cell {
	padding: 4px 2px;
}

.table__data-cell--select {
	.cell--select--mixin();
}


.title {
	display: block;
}

.title__row {
	display: flex;
}

.title__section {
	display: block;
}

.title__section--right {
	margin-left: auto;
}

.title__main {
	font-style: italic;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px rgba(0, 0, 0, 64);
	width: 100%;
}


.titleLink {
	font-weight: bold;
}


.uploader {
}

.uploadzone {
}


.versionInfo {
	margin-left: auto;
	text-align: right;
}
