/* Styling in this project follows BEM notation.
   http://getbem.com/
*/

.fileTable {
}

.fileTable__headerCell {
}

.fileTable__headerCell--sortedByAsc {
}

.fileTable__headerCell--sortedByDesc {
}

.guruMeditation {
}

.notifier {
}

.notifier__notification--error {
}

.labelled {
}

.labelled__label {
}

.labelled__content {
}

.linkText {
	cursor: pointer;
	text-decoration: underline;
	color: blue
}

.linkText:hover {
	color: dodgerblue;
}

.uploader {
}

.uploadzone {
}

.versionInfo {
}
