/* Styling in this project follows BEM notation.
   http://getbem.com/
*/
@font-face {
	font-family: Amiga Topaz;
	src: url(/res/font/amiga-topaz/Amiga%20Topaz.ttf) format('truetype');
}

/* Generic definitions */
@dangerColor: #f33;
@successColor: #3f3;
@paneBackground: rgba(255, 255, 255, 0.1);
@paneBorder: 1px dashed rgba(255, 255, 255, 0.2);
@labelColor: #fff;

/* Amiga styling */
@guruMeditationBackground: #000;
@guruMeditationColor: #f20;
@kickstartBackground: #414;
@kickstartTextColor: #ea8;
@workbenchBackground: #aaa;
@workbenchTextColor: #000;
@workbenchTitleColor: #68b;
@workbenchBorderLight: 2px solid #fff;
@workbenchBorderDark: 2px solid #000;

/* Globals */
@mainFont: Amiga Topaz;
@pageBackground: @kickstartBackground;
@pageForeground: @kickstartTextColor;

/* BEM elements */
.page {
	background-color: darken(@pageBackground, 5%);
	color: @pageForeground;
	font-family: @mainFont,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 1em;
	margin: 0px auto;
	max-width: 800px;

	&__main {
		background-color: @pageBackground;
		margin: auto 0;
	}
}
